/* Write your CSS code here */

.cart-img {
  height: 200px;
  width: 150px;
}

.cart-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin-top: 40%;
}

@media screen and (min-width: 768px) {
  .cart-container {
    margin-top: 10%;
  }
  .cart-img {
    width: 200px;
    height: 280px;
  }
}
